/** Load Tailwind CSS */
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/** Load custom CSS */
@import "./base";
@import "./components";
@import "./util";
@import "./icons";
@import "./font";

@import 'primeicons/primeicons.css';

/** X-Cloak must be at the end of all CSS */
@import "./xcloak";
