.base-body {
    @apply relative;
    @apply m-0;
    @apply overflow-auto;
    @apply min-h-full;
    @apply min-w-full;
}

.base-font {
    font-family: Lato, sans-serif;
}

.title-font {
    font-family: Lato, sans-serif;
}

html {
    @apply min-h-full;
    scrollbar-width: none !important;
}

body {
    @apply base-body;
    -ms-overflow-style: none !important;
}

* {
    @apply base-font;
}

/** Hide scrollbar global CSS */
*::-webkit-scrollbar{
    display: none !important;
}

ion-content {
    width: calc(100% + 25px);
}
ion-content::part(scroll) {
    padding-right: 25px;
}