:root {
    --tw-bg-opacity: 1;
    --ion-background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.p-toast {
    width: 85% !important;
}

.header-container {
    @apply sticky top-0 w-full z-50 drop-shadow-xl;
}

.content-child-container-center {
    @apply relative flex flex-col w-full h-fit;
}

.center-box-container {
    @apply flex flex-col justify-center my-3 bg-white drop-shadow-lg box-border;

    border-style: solid none;
}

.box-container {
    @apply box-border;

    border-style: solid none;
}

.btn-ext {
    @apply btn p-2.5;
}

body.camera-behind-webview {
    background: transparent;

    --background: transparent;
    --ion-background-color: transparent;
}

html.camera-behind-webview {
    background: transparent;

    --background: transparent;
    --ion-background-color: transparent;
}

:root.camera-behind-webview {
    background: transparent;

    --background: transparent;
    --ion-background-color: transparent;
}
