.ico.ico-chart-bar {
    content: "";
    display: flex;
    background-image: url("../images/ico-chart-bar.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}
