.scale-10 {
    transform: scale(0.1);
}

.scale-20 {
    transform: scale(0.2);
}

.scale-30 {
    transform: scale(0.3);
}

.scale-40 {
    transform: scale(0.4);
}

.tracking-otp {
    letter-spacing: 0.4em;
}

.top-screen {
    top: 100vh;
}

.h-content {
    height: 75vh;
}

.h-video {
    height: 25vh;
}

.w-45 {
    width: 11.25rem /** 180px */;
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.floating-label {
    @apply absolute duration-300 transform px-2 -translate-y-5 scale-75 top-2 z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:px-2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-5;
}

.fixed-vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

.rounded-tr-semi-round {
    border-top-right-radius: 3.5rem /* 24px */;
}
