.scale-10 {
    transform: scale(0.1);
}

.scale-20 {
    transform: scale(0.2);
}

.scale-30 {
    transform: scale(0.3);
}

.scale-40 {
    transform: scale(0.4);
}

.tracking-otp {
    letter-spacing: 0.4em;
}

.top-screen {
    top: 100vh;
}

.h-video {
    height: 25vh;
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}
